@page
@model UltimateTilesProj.Pages.BathsModel
@{
    Layout = null;
}

<div class="bathDivMain">
    <h1>Ultimate Tiles Bath Range</h1>
    <div class="bathDivSingle">
        <h3>Hampton Clawfoot</h3>
        <img src="~/images/Hampton.jpg" class="bathImg" />
        <p>Size: 1600x700x750mm</p>
        <p>Price: $750</p>
    </div>
    <div class="bathDivSingle">
        <h3>Evie Free Standing</h3>
        <img src="~/images/Evie.jpg" class="bathImg" />
        <p>Size: 1500x750x700mm</p>
        <p>Price: $1095</p>
        <p>Size: 1700x800x720mm</p>
        <p>Price: $1175</p>
    </div>
    <div class="bathDivSingle">
        <h3>Kylie Left Hand Back To Wall</h3>
        <img src="~/images/KylieL.jpg" class="bathImg" />
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1095</p>
        <p>Size: 1700x800x580mm</p>
        <p>Price: $1175</p>
    </div>
    <div class="bathDivSingle">
        <h3>Kylie Right Hand Back To Wall</h3>
        <img src="~/images/Kylie.jpg" class="bathImg" />
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1095</p>
        <p>Size: 1700x800x580mm</p>
        <p>Price: $1175</p>
    </div>
    <div class="bathDivSingle">
        <h3>Simone Free Standing</h3>
        <img src="~/images/Simone.jpg" class="bathImg" />
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1095</p>
    </div>
    <div class="bathDivSingle">
        <h3>Joanne Free Standing</h3>
        <img src="~/images/Joanne.jpg" class="bathImg" />
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1095</p>
        <p>Size: 1700x750x580mm</p>
        <p>Price: $1175</p>
    </div>
    <div class="bathDivSingle">
        <h3>Harvey Back To Wall</h3>
        <img src="~/images/Harvey.jpg" class="bathImg" />
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1095</p>
        <p>Size: 1700x800x580mm</p>
        <p>Price: $1175</p>
    </div>
    <div class="bathDivSingle">
        <h3>Rounded Free Standing Matt White</h3>
        <img src="~/images/BTA1500MW.jpg" class="bathImg" />
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1650</p>
        <p>Size: 1700x800x580mm</p>
        <p>Price: $1750</p>
    </div>
    <div class="bathDivSingle">
        <h3>Rounded Back To Wall Matt Black</h3>
        <img src="~/images/BTE1500MB.jpg" class="bathImg"/>
        <p>Size: 1500x750x580mm</p>
        <p>Price: $1850</p>
        <p>Size: 1700x800x580mm</p>
        <p>Price: $1950</p>
    </div>

</div>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap" rel="stylesheet">